.joinroom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #010101;
  width: 20em;
  height: auto;
  border-radius: 15px;
  z-index: 2;
}

.close {
  color: white;
  margin-top: 5%;
  margin-left: 85%;
}

.joinroom form {
  position: relative;
  top: 50%;
  transform: translate(10%, -15%);
  margin-top: 12.5%;
}

.joinroom input {
  background-color: #242A2E;
  border-radius: 5px;
  border-style: solid;
  border-color: #242A2E;
  border-bottom-color: #89D2DC;
  width: 15rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5%;
  padding-left: 5%;
}

.joinroom input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #89D2DC;
  opacity: 1; /* Firefox */
}

.joinroom input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #89D2DC;
}

.joinroom input::-ms-input-placeholder { /* Microsoft Edge */
  color: #89D2DC;
}

.joinroom form button {
  margin-top: 10%;
  background-color: #010101;
  border-style: solid;
  border-color: #89D2DC;
  width: 8rem;
  height: 2.5rem;
  color: #89D2DC;
  font-family: 'Figtree', sans-serif;
  border-radius: 7.5px;
  transform: translate(50%, 0%);
}

.joinroom form button:hover {
  color: white;
  background-color: #89D2DC;
}
