.login_register *, .login_register *::after, .login_register *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.back {
  color: #FCFCFC;
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  z-index: 2;
}

.login_register body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #a0a5a8;
}

.login_register {
  position: absolute;
  width: 100%;
  min-width: 600px;
  min-height: 350px;
  height: 100%;
  background-image: url('../blob-scene-haikei.svg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.login_register .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100%;
  padding: 0px;
  transition: 1.25s;
}

.login_register .container form div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.login_register .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form__input {
  width: 350px;
  height: 40px;
  margin: 14px 5px;
  padding-left: 25px;
  font-size: 15px;
  letter-spacing: 0.15px;
  border-style: solid;
  border-color:#89D2DC;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0,0,0,0);
  transition: 0.25s ease;
  border-radius: 8px;
  color: #FCFCFC;
}

.form__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #89D2DC;
  opacity: 1; /* Firefox */
}

.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #89D2DC;
}

.form__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #89D2DC;
}

.form__input:hover {
  transform: scale(0.9);
  transition: 0.2s;
  border-color: #FCFCFC;
}

.form__input:focus {
  border-color: #FCFCFC;
}

.form__span {
  margin-top: 30px;
  margin-bottom: 12px;
}
.form__link {
  color: #FCFCFC;
  font-size: 15px;
  margin-top: 25px;
  /* border-bottom: 1px solid #a0a5a8; */
  line-height: 2;
}

.login_register .title {
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2em;
  font-weight: 100;
  line-height: 3;
  color: #FCFCFC;
}

.login_register .button {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  outline: none;
}

.login_register .switch__button {
  background-color: rgb(0,0,0,0);
  border-color: #89D2DC;
  color: #89D2DC;
}

.login_register .button:hover {
  transform: scale(0.985);
  transition: 0.25s;
  background-color: #89D2DC;
  color: #FCFCFC;
}

.login_register .form__button {
  background-color: #89D2DC;
  border-color: #89D2DC;
  color: #0D1317;
}

.login_register .button:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.footer {
  position: fixed;
  color: #FCFCFC;
  bottom: 2.5%;
  right: 2.5%;
}

.footer h2 {
  font-family: 'Staatliches', sans-serif;
  font-weight: 100;
  letter-spacing: 0.25rem;
}
