.close {
  color: white;
  margin-top: 5%;
  margin-left: 85%;
}

.mainmenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #010101;
  width: 18em;
  height: auto;
  border-radius: 15px;
  z-index: 2;
}

.mainmenu ul {
  list-style: none;
  position: relative;
  top: 50%;
  transform: translate(15%, -12.5%);
}

.mainmenu ul li {
  padding-top: 10%;
}

.mainmenu ul li button {
  background-color: rgb(0,0,0,1);
  border: none;
  color: aliceblue;
  font-family: 'Figtree', sans-serif;
  font-weight: 100;
  padding-bottom: 1.5%;
}

.mainmenu ul li button:hover {
  transform: scale(1.2);
  border-bottom-style: solid;
  border-bottom-color: #89D2DC;
  color: #89D2DC;
}