.close {
  color: white;
  margin-top: 5%;
  margin-left: 90%;
}

.createroom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #010101;
  width: 22.5em;
  height: auto;
  border-radius: 15px;
  z-index: 2;
}

.createroom h3 {
  font-family: 'Figtree', sans-serif;
  color: #89D2DC;
  margin-left: 15%;
}

.createroom form {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translate(14%, -15%);
  margin-top: 12.5%;
}

.createroom input {
  background-color: #090909;
  border-radius: 5px;
  border: none;
  width: 15rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 7.5%;
  padding-left: 5%;
}

.createroom input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

.createroom input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255,255,255,0.5);
}

.createroom input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255,255,255,0.5);
}

.createroom form button {
  margin-top: 10%;
  background-color: #89D2DC;
  border-style: solid;
  border-color: #89D2DC;
  width: 8rem;
  height: 2.5rem;
  color: #090909;
  font-family: 'Figtree', sans-serif;
  border-radius: 7.5px;
  transform: translate(50%, 0%);
}